**Dataset link**: https://www.kaggle.com/datasets/mexwell/us-software-engineer-jobs

In [1]:
import pandas as pd
from bokeh.plotting import figure, show

### Data Preparation

In [5]:
# data = pd.read_csv('data/us-software-engineer-jobs-zenrows.csv')

In [9]:
# data.head()

,title,company,salary,rating,review_count,types,location,relative_time,hires_needed,hires_needed_exact,...,indeed_applyable,ad_id,remote_location,source_id,hiring_event_job,indeed_apply_enabled,job_location_postal,company_overview_link,activity_date,location_extras
0,Android Developer,Shockoe,NaN,0.0,0,Full-time,"Richmond, VA",30+ days ago,NaN,NaN,...,False,NaN,False,11706594,False,False,NaN,NaN,NaN,NaN
1,Web Developer,"Denios, Inc.","$45,000 - $55,000 a year",0.0,0,Full-time,"Louisville, KY",30+ days ago,ONE,1,...,True,370154371.0,False,11468052,False,True,40219.0,NaN,Active 2 days ago,NaN
2,Sr. Android Developer,The Cervantes Group,NaN,4.1,22,Full-time,Remote,6 days ago,TWO_FOUR,2,...,True,NaN,False,9570478,False,True,NaN,/cmp/The-Cervantes-Group,Active 3 days ago,NaN
3,Junior Software Engineer,Medical Knowledge Group,NaN,0.0,0,Full-time,Remote,8 days ago,ONE,1,...,True,368864426.0,False,501562,False,True,NaN,NaN,Active 3 days ago,NaN
4,"Cloud Engineer (Software Engineer Advanced, Ex...",Federal Reserve Bank of New York,NaN,4.1,548,Full-time,"Kansas City, MO",2 days ago,NaN,NaN,...,False,NaN,False,1439,False,False,NaN,/cmp/Federal-Reserve-Bank-of-New-York,NaN,NaN

In [10]:
# print(data.columns)

Index(['title', 'company', 'salary', 'rating', 'review_count', 'types',
       'location', 'relative_time', 'hires_needed', 'hires_needed_exact',
       'urgently_hiring', 'remote_work_model', 'snippet', 'dradis_job', 'link',
       'new_job', 'job_link', 'sponsored', 'featured_employer',
       'indeed_applyable', 'ad_id', 'remote_location', 'source_id',
       'hiring_event_job', 'indeed_apply_enabled', 'job_location_postal',
       'company_overview_link', 'activity_date', 'location_extras'],
      dtype='object')

In [11]:
# data = data[['title', 'company', 'salary',  'types', 'location', 'relative_time', 'remote_location']]

In [13]:
# data.head()

,title,company,salary,types,location,relative_time,remote_location
0,Android Developer,Shockoe,NaN,Full-time,"Richmond, VA",30+ days ago,False
1,Web Developer,"Denios, Inc.","$45,000 - $55,000 a year",Full-time,"Louisville, KY",30+ days ago,False
2,Sr. Android Developer,The Cervantes Group,NaN,Full-time,Remote,6 days ago,False
3,Junior Software Engineer,Medical Knowledge Group,NaN,Full-time,Remote,8 days ago,False
4,"Cloud Engineer (Software Engineer Advanced, Ex...",Federal Reserve Bank of New York,NaN,Full-time,"Kansas City, MO",2 days ago,False

In [25]:
# nan = data[data.isna().any(axis=1)]
# len(nan)

42070

In [26]:
# len(data['salary']) - len(nan)

16363

### Create 2 new csvs, one without NaN values at all and one with filled NaN values

In [28]:
# data = data.dropna()

In [29]:
# data.shape

(16363, 7)

In [31]:
# data.to_csv('data/us-software-engineer-jobs-zenrows (no NaN).csv')

## Exploratory Data Analysis
### Questiones to be answered

1. **Job Title Analysis:**
   - What are the most common job titles in software engineering roles?
   - How do job titles vary by location or company?

2. **Salary Analysis:**
   - What is the distribution of salaries across different software engineering roles?
   - How do salaries vary by job type (e.g., full-time, part-time, contract)?
   - Are there salary differences based on location or remote work options?

3. **Company Analysis:**
   - Which companies are posting the most software engineerinilar roles?
   - What are the top companies offering remote positions?

4. **Job Type Analysis:**
   - What is the distribution of job types (e.g., full-time, part-time, contract)?
   - How does the job type influence salary or location?

5. **Location Analysis:**
   - What are the most common locations for software engineering roles?
   - How does the location impact salary?
   - Which locations offer the most remotfe6ent times of the year?

7. **Remote Work Analysis:**
   - What proportion of job ads offer remote work options?
   - How do remote job opportunities vary by location or company?
   - Is there a salary difference between 7emote and non-remote roles?

8. **Correlation Analysis:**
   - What are the correlations between salary, job type, location, and remote work options?
   - How do these f8ctors interact with each other?

9. **Job Market Trends:**
   - What are the emerging trends in software engineering roles based on job titles, locations, and remote work?
   - Are there any significant changes in demand for certain skills or job types?

In [2]:
data = pd.read_csv('data/us-software-engineer-jobs-zenrows (no NaN).csv')

In [3]:
data.head(50)

,Unnamed: 0,title,company,salary,types,location,relative_time,remote_location
0,1,Web Developer,"Denios, Inc.","$45,000 - $55,000 a year",Full-time,"Louisville, KY",30+ days ago,False
1,7,"Real-Time, Embedded Software Engineer",Checkmate Partners,"$100,000 - $200,000 a year",Full-time,"San Francisco Bay Area, CA",5 days ago,False
2,14,Cyber Security Operation Center Manager (SOC),Goliath Solutions Group,$15 - $20 an hour,Full-time,"Fairview, TX",27 days ago,False
3,17,DevOps Engineer - Very Profitable Start-up,TechTalent NW,"$125,000 - $170,000 a year",Full-time,"Bellevue, WA",1 day ago,False
4,19,Lead Software/Java Engineer,Bectran,"$90,000 - $130,000 a year",Full-time,"Chicago, IL",7 days ago,False
5,20,Senior Software Engineer,College Auto Sales of Florida,"$105,271 - $126,000 a year",Full-time,"Miami Lakes, FL",30+ days ago,False
6,24,"Real-Time, Embedded Software Engineer",Checkmate Partners,"$100,000 - $200,000 a year",Full-time,"San Jose, CA",5 days ago,False
7,25,Software Engineer - Production Support - CCE -...,Salesforce,"$121,800 a year",Full-time,"Denver, CO",23 days ago,False
8,26,"Software Engineer, Backend - Remote",Project Admission,"$105,000 - $120,000 a year",Full-time,"Nashville, TN",19 days ago,False
9,28,Senior Software Engineer - Enterprise Team (Fu...,Indeed,"$109,000 - $159,000 a year",Full-time,Remote,30+ days ago,False
10,30,Front-End Engineer,Clipcentric Inc.,From $20 an hour,"Full-time, Part-time","Albany, NY",30+ days ago,False
11,36,Lead Software Engineer – Defense Robotics,Robotic Research LLC,"From $100,000 a year",Full-time,"Clarksburg, MD",30+ days ago,False
12,38,Senior COBOL Developer (G67),Resource Management Associates LLC.,$45 an hour,"Full-time, Temporary, Contract","Atlanta, GA",2 days ago,False
13,46,Senior ASP.NET Developer,Defy Medical,"$115,000 - $130,000 a year",Full-time,"Tampa, FL",30+ days ago,False
14,47,java j2ee springboot developer (w2 only),infolob,Up to $62 an hour,"Full-time, Contract","Austin, TX",14 days ago,False
15,51,Senior Software Engineer,POPi/o Mobile Video Cloud,$40 - $74 an hour,Full-time,"Sandy, UT",30+ days ago,False
16,52,Software/Firmware Engineer,CQENS Technologies Inc.,"$90,000 - $150,000 a year",Full-time,California,2 days ago,False
17,53,Embedded Software Developer - C/C++ Experience...,Real Time Automation,"$80,000 - $100,000 a year",Full-time,"Fort Atkinson, WI",21 days ago,False
18,63,Production Support Software Engineer - Salesfo...,Salesforce,"$121,800 a year",Full-time,Texas,6 days ago,False
19,64,"Automation Engineer - Lorain, OH","Absolute Machine Tools, Inc.","$55,000 - $85,000 a year",Full-time,"Lorain, OH",30+ days ago,False
20,65,iOS SDK Software engineer,"Socket Mobile, Inc.","From $106,000 a year",Full-time,Remote,30+ days ago,False
21,67,Senior Site Reliability Engineer,Apto Payments,"$120,000 - $180,000 a year",Full-time,Remote,21 days ago,False
22,68,Full Stack Engineer,CyberCoders,"$120,000 - $160,000 a year",Full-time,"Denver, CO",Today,False
23,70,Senior Backend Engineer,Wisely Inc,"From $125,000 a year",Full-time,Remote,30+ days ago,False
24,74,Application Developer,State of Montana,"$68,000 - $78,000 a year",Full-time,"Helena, MT",20 days ago,False
25,84,Sr. Mobile Automation Engineer,IT Giants Inc,$40 - $60 an hour,Full-time,"West Chester, PA",30+ days ago,False
26,86,Software Programmer - Java,Flux Resources,$71 - $77 an hour,"Full-time, Contract","Portland, OR",2 days ago,False
27,87,Software Engineer,Systems Automated,"$70,000 - $90,000 a year",Full-time,"Dallas, TX",30+ days ago,False
28,92,Senior Software Engineer - Hiring Insights (Fu...,Indeed,"$132,000 - $192,000 a year",Full-time,"Seattle, WA",14 days ago,False
29,98,Software Diagnostic Engineer,CyberCoders,"$140,000 - $190,000 a year",Full-time,"San Jose, CA",Today,False
30,108,"Sr. Software Automation Engineer, Cybersecurity",PLLT VIRTUAL CONSULTANTS,"From $110,000 a year",Full-time,"Chicago, IL",19 days ago,False
31,111,C# Senior Software Developer (Contractor) - Fr...,DataAxxis,"$900 - $1,000 a day","Full-time, Contract","New York, NY",5 days ago,False
32,112,Senior Web Developer,FreeRateUpdate.com LLC,"$100,000 - $120,000 a year",Full-time,"Chadds Ford, PA",30+ days ago,False
33,114,Software Engineer,Indeed,"$132,000 - $192,000 a year",Full-time,"Seattle, WA",28 days ago,False
34,119,Staff Software Engineer - Job Seeker API,Indeed,"$164,000 - $239,000 a year",Full-time,"Seattle, WA",2 days ago,False
35,125,React Developer,Thumbraise,"$42,256 - $95,005 a year",Full-time,Remote,30+ days ago,False
36,127,Sr. Robotics Software Engineer,Decide,"$100,000 - $140,000 a year",Full-time,"Boston, MA",30+ days ago,False
37,131,Front-End Engineer,Clipcentric Inc.,From $20 an hour,"Full-time, Part-time","Albany, NY",30+ days ago,False
38,136,Senior Remote Software Engineer (Code: OP) 100...,HK Tech,"$90,000 a year",Full-time,"Lindon, UT",30+ days ago,False
39,137,Senior Web Developer - .NET,SPN Solutions Inc.,"$95,000 - $100,000 a year",Full-time,"Bethesda, MD",30+ days ago,False
40,138,Site Reliability - Incident Commander,Salesforce,"$121,800 a year",Full-time,"San Francisco, CA",5 days ago,False
41,140,Java Full Stack Developer,SkyWalkGlobalServices,$75 - $85 an hour,"Full-time, Contract","New York, NY",9 days ago,False
42,141,Programmer Analyst 1,State of West Virginia,"$36,779 - $68,041 a year",Full-time,"Kanawha County, WV",30+ days ago,False
43,143,ANDROID DEVELOPER,Ampcus Tech Pvt Ltd,$45 - $50 an hour,"Full-time, Contract","Bloomfield, CT",2 days ago,False
44,147,.Net Fullstack Developer (100% remote),BOTG LLC,$50 - $60 an hour,"Full-time, Contract","Washington, DC",2 days ago,False
45,152,Principal Software Engineer - Non IT,CorTech,$62.07 - $91.91 an hour,Contract,"Milwaukee, WI",24 days ago,False
46,155,Java with OTT/ Streaming,TELUS International Inc.,$70 an hour,"Full-time, Temporary","Los Angeles, CA",30+ days ago,False
47,157,.Net Developer,"KTL Solutions, Inc","$90,000 - $110,000 a year",Full-time,"Frederick, MD",30+ days ago,False
48,158,Senior Software Engineer,"Prime Trust, LLC","$120,000 - $160,000 a year",Full-time,Remote,30+ days ago,False
49,159,Lead Software Engineer,Topaz Labs,"$100,000 - $200,000 a year",Full-time,"Dallas, TX",6 days ago,False