In [32]:
import pandas as pd

In [33]:
data = pd.read_csv('us-software-engineer-jobs-zenrows (no NaN).csv')

In [34]:
data.head()

,Unnamed: 0,title,company,salary,types,location,relative_time,remote_location
0,1,Web Developer,"Denios, Inc.","$45,000 - $55,000 a year",Full-time,"Louisville, KY",30+ days ago,False
1,7,"Real-Time, Embedded Software Engineer",Checkmate Partners,"$100,000 - $200,000 a year",Full-time,"San Francisco Bay Area, CA",5 days ago,False
2,14,Cyber Security Operation Center Manager (SOC),Goliath Solutions Group,$15 - $20 an hour,Full-time,"Fairview, TX",27 days ago,False
3,17,DevOps Engineer - Very Profitable Start-up,TechTalent NW,"$125,000 - $170,000 a year",Full-time,"Bellevue, WA",1 day ago,False
4,19,Lead Software/Java Engineer,Bectran,"$90,000 - $130,000 a year",Full-time,"Chicago, IL",7 days ago,False

In [35]:
data.pop('Unnamed: 0')

0            1
1            7
2           14
3           17
4           19
         ...
16358    58417
16359    58420
16360    58423
16361    58424
16362    58425
Name: Unnamed: 0, Length: 16363, dtype: int64

In [36]:
def extract_average_salary(salary_range):
    # Remove non-numeric characters like '$' and ','
    salary_range = salary_range.replace('$', '').replace(',', '').replace('From', '').replace('Up', '').replace('to', '')

    # Check if the range is split correctly
    if ' - ' in salary_range:
        lower, upper = salary_range.split(' - ')
        upper = upper.split()[0]  # Remove "a year" if present
    elif '-' in salary_range:
        lower, upper = salary_range.split('-')
        upper = upper.split()[0]  # Remove "a year" if present
    else:
        # If no range is provided, treat it as a single value
        lower = upper = salary_range.split()[0]  # Remove "a year" if present

    lower = float(lower)
    upper = float(upper)

    # Calculate the average
    average_salary = (lower + upper) / 2
    return average_salary

In [37]:
data['average salary'] = data['salary'].apply(extract_average_salary).apply(pd.Series)

In [39]:
data.head(20)

,title,company,salary,types,location,relative_time,remote_location,average salary
0,Web Developer,"Denios, Inc.","$45,000 - $55,000 a year",Full-time,"Louisville, KY",30+ days ago,False,50000.0
1,"Real-Time, Embedded Software Engineer",Checkmate Partners,"$100,000 - $200,000 a year",Full-time,"San Francisco Bay Area, CA",5 days ago,False,150000.0
2,Cyber Security Operation Center Manager (SOC),Goliath Solutions Group,$15 - $20 an hour,Full-time,"Fairview, TX",27 days ago,False,17.5
3,DevOps Engineer - Very Profitable Start-up,TechTalent NW,"$125,000 - $170,000 a year",Full-time,"Bellevue, WA",1 day ago,False,147500.0
4,Lead Software/Java Engineer,Bectran,"$90,000 - $130,000 a year",Full-time,"Chicago, IL",7 days ago,False,110000.0
5,Senior Software Engineer,College Auto Sales of Florida,"$105,271 - $126,000 a year",Full-time,"Miami Lakes, FL",30+ days ago,False,115635.5
6,"Real-Time, Embedded Software Engineer",Checkmate Partners,"$100,000 - $200,000 a year",Full-time,"San Jose, CA",5 days ago,False,150000.0
7,Software Engineer - Production Support - CCE -...,Salesforce,"$121,800 a year",Full-time,"Denver, CO",23 days ago,False,121800.0
8,"Software Engineer, Backend - Remote",Project Admission,"$105,000 - $120,000 a year",Full-time,"Nashville, TN",19 days ago,False,112500.0
9,Senior Software Engineer - Enterprise Team (Fu...,Indeed,"$109,000 - $159,000 a year",Full-time,Remote,30+ days ago,False,134000.0
10,Front-End Engineer,Clipcentric Inc.,From $20 an hour,"Full-time, Part-time","Albany, NY",30+ days ago,False,20.0
11,Lead Software Engineer – Defense Robotics,Robotic Research LLC,"From $100,000 a year",Full-time,"Clarksburg, MD",30+ days ago,False,100000.0
12,Senior COBOL Developer (G67),Resource Management Associates LLC.,$45 an hour,"Full-time, Temporary, Contract","Atlanta, GA",2 days ago,False,45.0
13,Senior ASP.NET Developer,Defy Medical,"$115,000 - $130,000 a year",Full-time,"Tampa, FL",30+ days ago,False,122500.0
14,java j2ee springboot developer (w2 only),infolob,Up to $62 an hour,"Full-time, Contract","Austin, TX",14 days ago,False,62.0
15,Senior Software Engineer,POPi/o Mobile Video Cloud,$40 - $74 an hour,Full-time,"Sandy, UT",30+ days ago,False,57.0
16,Software/Firmware Engineer,CQENS Technologies Inc.,"$90,000 - $150,000 a year",Full-time,California,2 days ago,False,120000.0
17,Embedded Software Developer - C/C++ Experience...,Real Time Automation,"$80,000 - $100,000 a year",Full-time,"Fort Atkinson, WI",21 days ago,False,90000.0
18,Production Support Software Engineer - Salesfo...,Salesforce,"$121,800 a year",Full-time,Texas,6 days ago,False,121800.0
19,"Automation Engineer - Lorain, OH","Absolute Machine Tools, Inc.","$55,000 - $85,000 a year",Full-time,"Lorain, OH",30+ days ago,False,70000.0

In [41]:
data.to_csv('us-software-engineer-jobs-zenrows (average_salary).csv')